<!-- Hero Section -->
<section class="hero-section">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-8 hero-content">
                <h1 class="hero-title fade-in">Socks Collection</h1>
                <p class="hero-subtitle fade-in">Discover premium fashion that defines your style</p>
                <button class="btn btn-primary-custom fade-in" routerLink="/">Shop Collection</button>
            </div>
        </div>
    </div>
</section>

<section class="container py-3 mt-3">
    <app-category-pills [categories]="categories" [active]="active" (change)="setCategory($event)"></app-category-pills>
</section>
<!-- Filters Section -->
<section class="filters-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-wrap align-items-center gap-2">
                    <div class="filter-group">
                        <label class="filter-label">Sort By:</label>
                        <select class="form-select filter-select" id="sortBy" (change)="onSortChange($event)">
                            <option value="featured">Featured</option>
                            <option value="lowToHigh">Price: Low to High</option>
                            <option value="highToLow">Price: High to Low</option>
                        </select>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<section class="container mt-5">
    <div class="row">
        @for (p of Socks; track $index) {
        <div class="col-6 col-md-4 col-lg-3 mb-4">
            @if ($index >=0) {
            <app-sock-card [sock]="p" />
            }@else {
            <p>NO items Yet</p>
            }
        </div>
        }
    </div>

</section>