<footer class="border-top mt-5">
  <div class="container py-4">
    <div class="row g-4">
      <div class="col-md-3">
        <h5 class="fw-bold text-uppercase">PhsarMaterk</h5>
        <p class="text-swhite">Men's clothing, shoes & accessories — curated for style and comfort.</p>
      </div>
      <div class="col-md-3">
        <h6 class="fw-semibold 98px">Shop</h6>
        <ul class="list-unstyled small">
          <li><a class=" text-white text-decoration-none" routerLink="/clothing">Clothing</a></li>
          <li><a class=" text-white text-decoration-none" routerLink="/shoes">Shoes</a></li>
          <li><a class=" text-white text-decoration-none" routerLink="/Accessory">Accessories</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6 class="fw-semibold text-uppercase">Company</h6>
        <ul class="list-unstyled small">
          <li><a class=" text-white text-decoration-none" routerLink="/about">About</a></li>
          <li><a class=" text-white text-decoration-none" href="#">Support</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6 class="fw-semibold">FOLLOW US</h6>
        <ul class="list-unstyled small d-flex  align-items-center gap-3">
          <li><a class=" text-white text-decoration-none" href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
          <li><a class=" text-white text-decoration-none" href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a class=" text-white text-decoration-none" href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
          <li><a class=" text-white text-decoration-none" href="#"><i class="fa-brands fa-tiktok"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="pt-3 border-top small text-white d-flex justify-content-between">
      <span>©PhsarMaterk</span>
      <span>Made with Heart And Love!</span>
    </div>
  </div>
</footer>