<nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm" [class.active]="isNav">
    <div class="container">
        <a class="navbar-brand fw-bold" routerLink="/">
            <span class="brand-pill">PM</span> PhsarMaterk
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navContent">
            <ul class="navbar-nav ms-auto align-items-lg-center">
                <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#new">New</a></li>
                <li class="nav-item"><a class="nav-link" href="#best">Best Sellers</a></li>
                <li class="nav-item"><a class="nav-link" href="#accessories">Accessories</a></li>
                <li class="nav-item"><a class="nav-link" href="#accessories" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"><i
                            class="fa-solid fa-magnifying-glass"></i></a>
                </li>
                <li class="nav-item ms-lg-3">
                    <a class="btn btn-dark rounded-pill px-3" href="#">Cart (0)</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- offcanvas -->
<div class="offcanvas offcanvas-top p-0" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
    <div class="offcanvas-body"> <!-- From Uiverse.io by boryanakrasteva -->
        <div class="wrapper-search m-auto w-100  text-center">
            <div class="input-container">
                <input type="text" name="text" class="input" placeholder="search...">
                <span class="icon">
                    <svg width="19px" height="19px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path opacity="1" d="M14 5H20" stroke="#000" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round">
                            </path>
                            <path opacity="1" d="M14 8H17" stroke="#000" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round">
                            </path>
                            <path d="M21 11.5C21 16.75 16.75 21 11.5 21C6.25 21 2 16.75 2 11.5C2 6.25 6.25 2 11.5 2"
                                stroke="#000" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path opacity="1" d="M22 22L20 20" stroke="#000" stroke-width="3.5" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </g>
                    </svg>
                </span>
            </div>
            <div class="wrapper-off">
                <button type="button" class="btn-close mt-5" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>