<nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm" [class.active]="isNav">
    <div class="container">
        <a class="navbar-brand fw-bold" routerLink="/">
            <span class="brand-pill">PM</span> PhsarMaterk
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navContent">
            <ul class="navbar-nav ms-auto align-items-lg-center">
                <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/clothing">Clothing</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/shoes">Shoes</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/Accessory">Accessories</a></li>
                <li class="nav-item"><a class="nav-link" href="#accessories" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"><i
                            class="fa-solid fa-magnifying-glass"></i></a>
                </li>
                <li class="nav-item ms-lg-3">
                    <a class="btn btn-dark rounded-pill px-3" href="#" data-bs-toggle="offcanvas"
                        data-bs-target="#cartDetail">Cart ({{cartItem.items.length}})</a>
                </li>
                <li class="nav-item ms-lg-3">
                    <a class="btn btn-dark rounded-pill px-3" href="#" data-bs-toggle="offcanvas"
                        data-bs-target="#favoriteDetail">Favorite ({{cartItem.Fav.length}})</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- offcanvas -->
<div class="offcanvas offcanvas-top p-0" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
    <div class="offcanvas-body"> <!-- From Uiverse.io by boryanakrasteva -->
        <div class="wrapper-search m-auto w-100  text-center">
            <div class="input-container">
                <input type="text" id="search-input" name="search-input" class="input" placeholder="search..." s
                    [(ngModel)]="searchRouter" (ngModelChange)="searchItemsRoute()" />
                <span class="icon">
                    <svg width="19px" height="19px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path opacity="1" d="M14 5H20" stroke="#000" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round">
                            </path>
                            <path opacity="1" d="M14 8H17" stroke="#000" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round">
                            </path>
                            <path d="M21 11.5C21 16.75 16.75 21 11.5 21C6.25 21 2 16.75 2 11.5C2 6.25 6.25 2 11.5 2"
                                stroke="#000" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path opacity="1" d="M22 22L20 20" stroke="#000" stroke-width="3.5" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </g>
                    </svg>
                </span>
            </div>
            <div class="wrapper-off">
                <button type="button" class="btn-close mt-5" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>
<!-- Offcanvas Cart -->
<div class="offcanvas offcanvas-start text-bg-dark cart-canvas " tabindex="-1" id="cartDetail">
    <div class="offcanvas-header border-bottom border-secondary">
        <h5 class="offcanvas-title fw-bold" style="margin-top: 90px;">Your Cart</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
    </div>

    <div class="offcanvas-body d-flex flex-column pt-4">
        <!-- Cart Items -->
        <div *ngIf="cartItem.items.length > 0; else emptyCart" class="cart-items flex-grow-1 overflow-auto pe-2">
            <div *ngFor="let item of cartItem.items" class="cart-item d-flex align-items-center mb-3 p-2 rounded">
                <img [src]="item.product.image" class="cart-img rounded me-3">
                <div class="flex-grow-1">
                    <h6 class="mb-1">{{ item.product.name }}</h6>
                    <small class="text-secondary">Size: {{ item.selectedSize }} | Qty: {{ item.qty }}</small>
                    <div class="fw-bold mt-1">
                        <input type="number" min="1" [(ngModel)]="item.qty"
                            (ngModelChange)="navBar.updateQuantity(item, item.qty)"
                            class=" w-25 me-2 rounded-5 border-0 px-2">
                        <br>
                        Total: ${{ item.product.price * item.qty }}
                    </div>
                </div>
                <button class="btn btn-sm btn-danger ms-2 rounded-5" (click)="cartItem.remove(item.product.id)">
                    <i class="bi bi-trash"></i>
                </button>
            </div>
        </div>

        <!-- Empty State -->
        <ng-template #emptyCart>
            <div class="text-center text-secondary mt-5">
                <i class="bi bi-bag-x fs-1"></i>
                <p class="mt-3">Your cart is empty</p>
            </div>
        </ng-template>

        <!-- Cart Footer -->
        <div class="cart-footer border-top border-secondary pt-3 mt-3">
            <div class="d-flex justify-content-between mb-3">
                <span class="fw-semibold">Total</span>
                <span class="fw-bold">${{ navBar.getTotal() }}</span>
            </div>
            <button class="btn btn-light w-100 fw-bold">Checkout</button>
        </div>
    </div>

</div>
<!-- Offcanvas Favorites -->
<div class="offcanvas offcanvas-end favorite-offcanvas" tabindex="-1" id="favoriteDetail">
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title fw-bold">❤️ Your Favorites({{cartItem.Fav.length}})</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>

    <div class="offcanvas-body d-flex flex-column">

        <!-- Favorite Items -->
        <div *ngIf="cartItem.Fav.length > 0; else emptyFavorite" class="favorite-items flex-grow-1 overflow-auto pe-2">
            <div *ngFor="let item of cartItem.Fav; let i = index"
                class="favorite-item d-flex align-items-center mb-3 p-2 rounded-3 shadow-sm">

                <!-- Thumbnail -->
                <img [src]="item.product.image" class="favorite-thumb rounded-2 me-3 shadow-sm" alt="favorite-img">

                <!-- Info -->
                <div class="flex-grow-1">
                    <h6 class="mb-1">{{ item.product.name }}</h6>
                    <small class="text-secondary">Size: {{ item.selectedSize }} | Qty: {{ item.qty }}</small>
                    <div class="fw-bold mt-1">
                        <input type="number" min="1" [(ngModel)]="item.qty"
                            (ngModelChange)="navBar.updateQuantity(item, item.qty)"
                            class=" w-25 me-2 rounded-5 border-0 px-2">
                        <br>
                        <small class="text-muted">category: {{ item.product.category }}</small>
                        <div class="text-muted mt-1">Price: ${{ item.product.price }}</div>
                        Total: ${{ item.product.price * item.qty }}
                    </div>

                </div>

                <!-- Actions -->
                <div class="d-flex flex-column align-items-end">
                    <button class="btn btn-sm btn-outline-dark mb-2" (click)="cartItem.removeFromFavorites(i)">
                        <i class="bi bi-trash"></i>

                    </button>
                    <button class="btn btn-sm btn-outline-danger" (click)="cartItem.AddToCart(i)">
                        <i class="bi bi-cart-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- Empty State -->
        <ng-template #emptyFavorite>
            <div class="text-center text-secondary mt-5">
                <i class="bi bi-bag-x fs-1"></i>
                <p class="mt-3">Your favorite is empty</p>
            </div>
        </ng-template>
        <!-- Footer -->
        <div class="favorite-footer border-top pt-3">
            <div class="d-grid gap-2">
                <button class="btn btn-dark rounded-pill" data-bs-dismiss="offcanvas">Keep Browsing</button>
            </div>
        </div>
    </div>
</div>