.hero-section {
    /* background: linear-gradient(135deg, var(--primary-black) 0%, var(--secondary-black) 100%);
     */
    background: url('/assets/image/image.avif') no-repeat center center/cover;
    color: var(--white);
    padding: 100px 0;
    position: relative;
    overflow: hidden;
}


.hero-content {
    position: relative;
    z-index: 2;
}

.hero-title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.hero-subtitle {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 2rem;
    opacity: 0.9;
    background-color: transparent;
}

.btn-primary-custom {
    background-color: var(--white);
    color: var(--primary-black);
    border: 2px solid var(--white);
    padding: 12px 30px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    border-radius: 0;
}

.btn-primary-custom:hover {
    background-color: transparent;
    color: var(--white);
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.1);
}