    .elementor-header {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .section-elementor-header {
        text-align: center;
    }

    .site-row {
        margin-right: calc(-1 * var(--col-spacing-side));
        margin-left: calc(-1 * var(--col-spacing-side));
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .column-half {
        max-width: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }

    .wrapper-info {
        background: url('/assets/image/bg-cover.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    @media screen and (max-width:768px) {
        .column-half {
            max-width: 100%;
            -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        }
    }