<div class="container wrapper-info">
    <div class="section-elementor-header py-5">
        <div class="elementor-header">
            <div class="elementor-header-inner">
                <h2 class="text-danger">
                    PhsarMaterk
                </h2>
                <h4 class="text-danger">
                    Sneakers, Activewear and Sporting Goods
                </h4>
            </div>
        </div>
        <p class="fw-bold w-50 m-auto">
            <strong>Calling all athletes. Gear up for your favorite sport with adidas sneakers and activewear for men
                and women. From
                running to soccer and the gym to the trail, performance workout clothes and shoes keep you feeling your
                best.</strong>
        </p>
    </div>
    <div class="site-row">
        <div class="column-half">
            <div class="u-container-padding-left">
                <div class="globalSections-introText">
                    <h2 class="u-title-1">WE ARE SO BACK</h2>
                    <p>Set the tone this school year with timeless adidas apparel and footwear
                    </p>
                </div>
                <div class="site-row">
                    <div class="column-half">
                        <div class="globalSections-item" data-item="header">
                            <h3>
                                <span>Contextual Storytelling:</span>
                            </h3>
                            <p>Instead of simply displaying clothes on a mannequin or model in a studio, consider
                                placing them within a narrative..</p>
                        </div>
                    </div>
                    <div class="column-half">
                        <div class="globalSections-item" data-item="footer">
                            <h3>
                                <span>Texture and Detail Focus:</span>
                            </h3>
                            <p>Highlight the quality and craftsmanship of the clothing by focusing on textures and
                                details.</p>
                        </div>
                    </div>
                    <div class="column-half">
                        <div class="globalSections-item" data-item="page-cover">
                            <h3>
                                <span>Motion and Movement:</span>
                            </h3>
                            <p>Bring clothing to life by capturing it in motion.</p>
                        </div>
                    </div>
                    <div class="column-half">
                        <div class="globalSections-item" data-item="mega-menu">
                            <h3>
                                <span>Unexpected Pairings and Styling:</span>
                            </h3>
                            <p>Challenge conventional styling norms by creating unexpected pairings.
                            </p>
                        </div>
                    </div>
                    <div class="column-full">
                        <div class="globalSections-item" data-item="inbetween">
                            <h3>
                                <span>In-between areas.</span>
                            </h3>
                            <p>The focus is on innovative approaches that move beyond traditional product shots and
                                create compelling narratives around
                                men's fashion.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column-half">
            <img src="/assets/image/menpng.png" alt="" class="w-100">
        </div>
    </div>
</div>